/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.success-snackbar {
    background-color: #00ff00 !important;
}

.failure-snackbar {
    background-color: #FF0000 !important;
}
